
/* CSS Document */
*{
    box-sizing: border-box;
}
#carousel-id{
    /* position: absolute; */
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 0;
}
.mainMenu{
    position: absolute;
    border: 0px;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgb(125 125 125/0);
}
.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    font-family: inherit !important;
    margin: 15px;
    text-decoration: bold;
}
#carousel-id > ul > li > a{
    font-size: 16px ; 
    /* font-weight: 400;
    font-family: inherit !important; */
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: white;
}
.underline {
    display: inline-block;
  }
  
.underline::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
  }
  
.underline:hover::after {
    width: 100%;
  }
.mainMenu .dropdown-menu a{
    color: #ffffff;
    text-decoration: bold;
    font-size: 16px;
    font-weight: 400;
}
.myMenu li:hover .dropdown-menu{
    position: absolute;
    display: block;
    background-color: black;
    color: white;
    text-decoration: bold;
    font-size: 16px;
    font-weight: 400;

}
.myMenu .dropdown-menu a:hover{
    color: #f96882;
    background-color: black;
    text-decoration: bold;
    font-size: 16px;
    font-weight: 400;
    transition: all 350ms;
}
#carousel-id .slide-prev,
#carousel-id .slide-next {
    text-align: center;
}

#carousel-id .slide-index {
    display: none;
}

#carousel-id .slide-prev {
    position: absolute;
    display: block;
    top: 045%;
    left: 0;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    font-family: inherit !important;
    box-sizing: border-box;
    padding: 20px;
    transform: rotate(270deg);
}
#carousel-id .slide-next {
    position: absolute;
    display: block;
    top: 045%;
    right: 0;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    font-family: inherit !important;
    box-sizing: border-box;
    padding: 20px;
    transform: rotate(90deg);

    
}
.butt{
    border: 0px;
    width: 180px;
    height: 50px;
    color: white;
    background-color: #f96882; 
    font-family: inherit ;
    transition: all 8000ms;

}
.butt:hover{
    background-color: black;
    /* transition: all 550ms; */
}
/* .butt:not(:hover){
    background-color: #f96882;
    
} */
.carousel-indicators .active {
    background-color:#f96882 ;
}